.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;

  &__chat {
    position: relative;

    img {
      margin: 4rem 0 2rem;
    }

    &:after {
      position: absolute;
      bottom: 2.5rem;
      left: -12rem;
      content: "Hi there, this is me.";
      background-color: var(--white);
      width: 200px;
      padding: 1rem;
      font-size: 1.3rem;
      font-weight: 600;
      border-radius: 2rem 2rem 0rem 2rem;
    }
  }

  h1 {
    font-size: 5rem;
    font-weight: bold;
  }

  p {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;

    &:after {
      display: block;
      content: "";
      background-color: var(--gray-dark);
      width: 10rem;
      height: 0.2rem;
      margin-top: 1rem;
    }
  }

  span {
    margin-top: 4rem;
    font-size: 1.5rem;
    font-weight: bold;
  }
}

.box {
  width: 100%;
  background-color: var(--gray-dark);
  padding: 2rem;
  border-radius: 1rem 0 1rem 0;
  margin: 2rem 0 6rem;

  ul {
    display: flex;
    list-style: none;
    justify-content: space-between;

    li {
      color: var(--white);
      font-weight: 800;
      font-size: 1.3rem;
    }
  }
}

.about {
  background-color: var(--gray-dark);
  padding: 4rem 2rem;
}

.section {
  margin: 1rem 0;
  max-width: 720px;
  h2 {
    color: var(--white);
    font-size: 1.8rem;
    text-align: center;
    font: 600;
  }

  p {
    text-align: justify;
    margin-top: 2rem;
    color: var(--white);
    font-weight: 400;
    line-height: 2rem;
    font-size: 1.3rem;
    text-indent: 50px;
  }
}

.aboutContainer {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerContainer {
  max-width: 1120px;
  margin: 0 auto;
  padding: 4rem 0;
  background-color: var(--green);
  display: flex;
  align-items: center;
  justify-content: space-between;

  p {
    margin-left: 1rem;
    color: var(--gray-dark);
    font-weight: 600;
  }
}
